{% extends "withFooter.html" %}
{% block title %}Joukkuelistaus{% endblock %}
{% block content %}

<h1>Joukkuelistaus</h1>

{% for x in range(sarjat|length) %}
<ul>
  <li>{{sarjat[x]['sNimi']}}
    <ul>
    {% for y in range(sarjat[x]['sData']|length) %}
    {% set joukkueNimi = sarjat[x]['sData'][y]['jNimi'] %}
    <li>{{joukkueNimi}}
        <ul>
        {% for z in range(sarjat[x]['sData'][y]['jasenet']|length) %}
        {% set jasen = sarjat[x]['sData'][y]['jasenet'][z] %}
          <li>{{jasen}}</li>
        {% endfor %}
        </ul>
      </li>
    {% endfor %}
    </ul>
  </li>
</ul>
{% endfor %}

{% endblock content %}
