{% extends "withFooter.html" %}
{% block title %}Muokkaa sarja{% endblock %}
{% block listaus %}

<h1>Muokkaa sarjaa ({{sarja['nimi']}})</h1>
  <ul>
  {% for y in range(joukkueet|length) %}
  {% set joukkue = joukkueet[y] %}
  <li><a href="{{joukkue['url']}}">{{joukkue['nimi']}}</a>
      <ul>
      {% for z in range(joukkue['jasenet']|length) %}
      {% set jasen = joukkue['jasenet'][z] %}
        <li>{{jasen}}</li>
      {% endfor %}
      </ul>
    </li>
  {% endfor %}
  </ul>
{% endblock listaus %}

{% block formi %}
<form action="{{request.url}}" accept-charset="UTF-8" method="POST">
<div id="joukkueenLisays">
  <input type="hidden" name="kilpailuNimi" value="{{kNimi}}"> 
  <input type="hidden" name="sarjaNimi" value="{{sNimi}}"> 
<p id="sarjanNimiLabel">
<label>Joukkueen nimi<input type="text" name="joukkueenNimi" value="{{jNimi}}"/></label>
</p>
</div>
<label class="error"> {{ error }} </label>
<p>
<input type="submit" name="laheta" value="Tallenna" />
</p>
</form>
{% endblock formi %}
